html {
	height: 100%;
    background:url('https://s3.amazonaws.com/makeitreal/cars/jaguar-xe.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover !important;
    -o-background-size: cover;
}

div.transbox {
	border-radius: 25px;
    margin: 50px;
    padding: 5px;
    background-color: rgb(40,40,40);
    opacity: .8;
    filter: alpha(opacity=60); /* For IE8 and earlier */
    max-width: 600px;
}

div.transbox h1 {
	margin: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: white;
}

div.transbox p {
    margin: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: white;
    
}

.myButton {
	-moz-box-shadow:inset 0px 0px 0px 0px #cf866c;
	-webkit-box-shadow:inset 0px 0px 0px 0px #cf866c;
	box-shadow:inset 0px 0px 0px 0px #cf866c;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
	background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
	background-color:#DB3030;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Roboto';
	font-size:14px;
	padding:10px 48px;
	margin: 15px;
	text-decoration:none;
	text-shadow:0px 0px 0px #854629;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
	background:-moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
	background-color:#bc3315;
}
.myButton:active {
	position:relative;
	top:1px;
}
